<div class="header" [@fadeInOnEnter]>
  <span style="font-size:1.2em">Experimental Sundays</span>
</div>

<div class="content" [@fadeInOnEnter]>
  Experimental Sundays Content
</div>

<div class="header" [@fadeInOnEnter]>
  <span style="font-size:1.2em">Saturday Takeovers</span>
</div>

<div class="content" [@fadeInOnEnter]>
  Saturday Takeovers
</div>

<div class="header" [@fadeInOnEnter]>
  <span style="font-size:1.2em">University of Crete</span>
</div>

<div class="content" [@fadeInOnEnter]>
  University of Crete Content
</div>
