<div class="row" id="my-menu">
  <div class="menu-item-home col-md-2 my-auto" (click) = "goToPage('/home')">
    Home
  </div>
  <div class="menu-item-home col-md-2 my-auto" (click) = "goToPage('/about')">
    ?
  </div>
  <div class="menu-item-home col-md-2 my-auto" (click) = "goToPage('artists')">
    Artists
  </div>
  <div class="menu-item-home col-md-2 my-auto" (click) = "goToPage('/events')">
    Events
  </div>
  <div class="menu-item-home col-md-2 my-auto" (click) = "goToPage('/blog')">
    Blog
  </div>
  <div class="menu-item-home col-md-2 my-auto">
    <img src="../../../assets/Images/stoa60.png" style="width:50px;">
  </div>
</div>