<div class="header" style="text-align: center;" [@fadeInOnEnter]>
  <div class="row pointer" (click)="goBack()">
    <div class="col-md-1 col-sm-1 col-1 my-auto pointer">
      <img src="../../../assets/Images/back.png" class="back">
    </div>
    <div class="col-md-11 col-sm-11 col-11 my-auto">
      <div style="font-size:1.2em; margin-left:-11.3%">{{artist.name}}</div>
    </div>
  </div>
</div>

<div class="row m-t-40" [@fadeInOnEnter]>
  <!-- style="width:100%" -->
  <div class="col-md-4 col-sm-4 col-12 text-center">
    <img src="../../../assets/Images/Artists/{{artist.photo}}" class="artist-img">
    <div *ngIf="artist.soundcloud; let soundcloud" class="row" style="margin-top:10px;">
      <div class="col-md-2 col-sm-12 col-12 my-auto">
        <img src="../../../assets/Images/soundcloud2.png" style="width:30px; margin-left:15px;">
      </div>
      <div class="links col-md-10 col-sm-12 col-12 my-auto" (click)="goToLink(soundcloud)">{{soundcloud}}</div>
    </div>
    <div *ngIf="artist.mixcloud; let mixcloud" class="row" style="margin-top:10px;">
      <div class="col-md-2 col-sm-12 col-12 my-auto">
        <img src="../../../assets/Images/mixcloud.png" style="width:30px; margin-left:15px;">
      </div>
      <div class="links col-md-10 col-sm-12 col-12 my-auto"
        (click)="goToLink(mixcloud)">
        {{mixcloud}}</div>
    </div>
    <div *ngIf="artist.youtube; let youtube" class="row" style="margin-top:10px;">
      <div class="links col-md-10 col-sm-12 col-12 my-auto"
        (click)="goToLink(youtube)">
        {{youtube}}</div>
    </div>
    <div *ngIf="artist.facebook; let facebook" class="row" style="margin-top:10px;">
      <div class="col-md-2 col-sm-12 col-12 my-auto">
        <img src="../../../assets/Images/facebook.png" style="width:30px; margin-left:15px;">
      </div>
      <div class="links col-md-10 col-sm-12 col-12 my-auto"
        (click)="goToLink(facebook)">
        {{facebook}}</div>
      <div *ngIf="isMobile" class="seperator dashed-line"></div>
    </div>


  </div>
  <div class="col-8 col-sm-8 col-12 mobile-center" style="color:var(--my-grey)">
    <div *ngFor="let line of artist.description">
      <div class="my-text-justify">{{line}}</div>
      <div class="seperator dashed-line"></div>
    </div>
  </div>
</div>