<div class="header" style="text-align: center;" [@fadeInOnEnter]>
  <div class="row pointer" (click)="goBack()">
    <div class="col-md-1 col-sm-1 col-1 my-auto pointer">
      <img src="../../../assets/Images/back.png" class="back">
    </div>
    <div class="col-md-11 col-sm-11 col-11 my-auto">
      <div style="font-size:1.2em; margin-left:-11.3%">{{artist.name}}</div>
    </div>
  </div>
</div>
<div class="row m-t-40 event-content" [@fadeInOnEnter]>
  <!-- style="width:100%" -->
  <div class="col-md-4 col-sm-4 col-12 text-center event-left">
    <img src="../../../assets/Images/Artists/{{artist.photo}}" class="artist-img">
    <div *ngIf="artist.bandcamp; let bandcamp" class="row" style="margin-top:10px; cursor:pointer;" (click)="goToLink(bandcamp)">
      <div class="col-md-2 col-sm-2 col-2 my-auto">
        <img src="../../../assets/Images/bandcamp.png" style="width:30px; margin-left:15px;">
      </div>
      <div class="links-blue col-md-10 col-sm-10 col-10 my-auto"
         style="text-align: left !important;">
        bandcamp</div>
    </div>
    <div *ngIf="artist.soundcloud; let soundcloud" class="row" style="margin-top:10px; cursor:pointer;" (click)="goToLink(soundcloud)">
      <div class="col-md-2 col-sm-2 col-2 my-auto">
        <img src="../../../assets/Images/soundcloud2.png" style="width:30px; margin-left:15px;">
      </div>
      <div  class="col-md-10 col-sm-10 col-10 my-auto">
        <div  class="links-blue" style="text-align: left !important;">soundcloud</div>
      </div>

    </div>
    <div *ngIf="artist.mixcloud; let mixcloud" class="row" style="margin-top:10px; cursor:pointer;" (click)="goToLink(mixcloud)">
      <div class="col-md-2 col-sm-2 col-2 my-auto">
        <img src="../../../assets/Images/mixcloud.png" style="width:30px; margin-left:15px;">
      </div>
      <div class="links-blue col-md-10 col-sm-10 col-10 my-auto"
         style="text-align: left !important;">
        mixcloud</div>
    </div>
    <div *ngIf="artist.youtube; let youtube" class="row" style="margin-top:10px; cursor:pointer;" (click)="goToLink(youtube)">
      <div class="col-md-2 col-sm-2 col-2 my-auto">
        <img src="../../../assets/Images/youtube.png" style="width:30px; margin-left:15px;">
      </div>
      <div class="links-blue col-md-10 col-sm-10 col-10 my-auto"
         style="text-align: left !important;">
        youtube</div>
    </div>
    <div *ngIf="artist.facebook; let facebook" class="row" style="margin-top:10px; cursor:pointer;">
      <div class="col-md-2 col-sm-2 col-2 my-auto">
        <img src="../../../assets/Images/facebook.png" style="width:30px; margin-left:15px;">
      </div>
      <div  class="col-md-10 col-sm-10 col-10 my-auto">
        <div *ngIf="artist.id=='user_14'" (click)="goToLink(facebook[0])" class="links-blue" style="text-align: left !important;">facebook[0]</div>
        <div *ngIf="artist.id=='user_14'" (click)="goToLink(facebook[1])" class="links-blue" style="text-align: left !important;">facebook[1]</div>
        <div *ngIf="artist.id!='user_14'" (click)="goToLink(facebook)" class="links-blue" style="text-align: left !important;">facebook</div>
      </div>
      <div *ngIf="isMobile" class="seperator dashed-line"></div>
    </div>


  </div>

  <div class="col-8 col-sm-8 col-12 mobile-center event-right">
    <div *ngIf="isMobile" class="seperator dashed-line"></div>
    <div *ngFor="let line of artist.description">
      <div *ngIf="line=='-'">
        <span style="color:var(--my-red)">No description available</span>
      </div>
      <div *ngIf="line!='-'">
        <div class="my-text-justify">{{line}}</div>
        <div class="seperator dashed-line"></div>
      </div>
    </div>
  </div>
</div>