.event-img {
  width: 80%;
  transition: 0.3s;
  object-fit: cover;
  padding: 20px;
  padding-top:0;
}

.align{
  text-align: left !important;
}

.dashed-line {
  padding-top: 0px;
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .event-img {
    width: 60%;
  }
  //.mobile-center {
    //text-align: center;
  //}
}

@media (min-width: 576px) and (max-width: 4000) {
  .icon-left{
    margin-left:15px;
  }
}
.artist-name{
  //font-size:1.2em;
  font-weight: bold;
  color: var(--my-greyer);
  padding-top:15px;
  padding-bottom:15px;
}

.description{
  color: var(--my-grey);
  // color: var(--my-black);
  // background-color:var(--my-grey);
  // padding:20px;
}

.artist-img {
  width: 60%;
  height: 60%;
  transition: 0.3s;
  object-fit: cover;
  border-radius: 50%;
  margin-top:10px;
}
@media (min-width: 320px) and (max-width: 576px) {
  .event-img {
    width: 60%;
  }
  //.align{
    //text-align: center !important;
  //}
  .artist-img {
    width: 80%;
    height: 80%;
  }
}