<div class="header" [@fadeInOnEnter]>
  <span style="font-size:1.2em">BA2037</span>
  <br>
  Self-Organized Team, Based in Heraklion, Greece
</div>

<div class="content" [@fadeInOnEnter]>
  The project consists of people that are interested in music, musicians and Djs with common desire to find space and
  time in order to listen/play/dance/(re) produce the music that we enjoy. We find ourselves somewhere in the ocean of
  electronic and experimental music and we would like to access the very depths of it.

  We want to create room to music that does not exist to places that we usually get entertained, music that is not being
  promoted by the main music industry and music that, from time to time, is a result of our improvisation and
  experimentation. We are targeting to the prominence and discovery of different kinds of consciousness, feelings, ways
  of joy and communication, ways of creation and expression that are being surrounded by the electronic and experimental
  music.

  Our target is the organization of electronic music events and the cooperation with other equivalent groups, teams and
  initiatives that exists in Heraklion which serves the same goals, modes of operation and existence.

  We exist independently and non-hierarchically, with no sponsors, outside of stores, bars, clubs, with no intention to
  gain in any way any personal financial profit, neither us nor the artists that are coming to perform. To all of our
  events there is a free entrance in order for nobody to be excluded. Nonetheless, we believe that the enhancement
  through the box is necessary to cover the functional expenses of the team and groups/teams/projects that we are
  cooperating (Stoa60) as well as for the continuation of the whole project.

  We feel the need to create these circumstances where each person will be able to enjoy the music, to express theirself
  as they feel and every human body will have equal opportunities to claim its own space between the space of the others
  without creating constraints and without being constrained. The meetings that we organise, we imagine them as meetings
  where the place is safe for each and every person, thus, homophobic, authoritative, transphobic, sexistic and other
  behaviors of racist nature are not going to be accepted/tolerated.

  See you on the dancefloor!
</div>