<div class="row pointer" (click)="goToEvent()">
    <div class="col-md-12 text-center">
      <div style="padding:20px;">
        <div class="row" (mouseEnter)="enter()">
          <div class="col-md-12 text-center">
            <div class="textWithBlurredBg">
              <img src="../../../assets/Images/Events/{{event.poster}}" class="artist-img shadow-circle-2" [@fadeInOnEnter] id={{event.id}} style="margin-right:10px !important">
              <!-- <h2><span style="font-size:10px;" class="eye">View</span></h2> -->
              <!-- <img src="../../../assets/Images/view.png" class="eye"> -->
            </div>
          </div>
          <div class="col-md-12 text-center name" (mouseenter)="enter()" (mouseleave)="leave()" style="line-height:1.5rem">
            {{event.name}}
          </div>
        </div>
      </div>
    </div>
  </div>