<div class="header" [@fadeInOnEnter]>
  <span style="font-size:1.2em">BA2037 Posts</span>
</div>

<div class="content" [@fadeInOnEnter]>
  <div class="row">
    <div *ngFor="let blog of blogs" class="col-md-12 col-sm-12 col-12 post">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-12">
          <img src="../../../assets/Images/Blog/{{blog.photo}}" style="width:100%; border-radius:8px;">
        </div>
        <div class="col-md-10 col-sm-10 col-12">
          <div *ngFor="let line of blog.text">
            {{line}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div style="float:right">{{blog.date}}</div>
        </div>
      </div>
    </div>
  </div>

</div>