<div class="row mobile-top">
  <div class="col-md-12 text-center">
    <div class="circle"><span>BA2037</span></div>
  </div>
  <div class="col-md-12 text-center bold m-t-40">
    Self-Organized Team, Based in Heraklion, Greece
  </div>
  <div class="col-md-12 text-center bold m-t-15 pointer">
    <img src="../assets/Images/facebook2.png" style="width:30px">
  </div>
  <div class="col-md-12 text-center">
    <div class="subscribe shadow-circle" id="subscribe">

      <span>Subscribe to Mailing List</span>
      <br>
      <input type="email" class="form-control no-border" placeholder="Your E-mail" id="mail">
      <hr class="line">
      <div class="subscribe-btn shadow-circle-2" (click)="subscribe()">
        Subscribe
      </div>
    </div>
  </div>

</div>