<div class="row mobile-top">
  <div class="col-md-12 text-center">
    <div class="circle"><span>BA2037</span></div>
  </div>
  <div class="col-md-12 text-center bold m-t-40">
    Self-Organized Initiative, Based in Heraklion, Greece
  </div>
  <div class="col-md-12 text-center bold m-t-15 pointer">
    <img src="../../../assets/Images/mixcloud2.png" style="width:30px" class="icon" (click)="goToMixcloud()">
    <img src="../../../assets/Images/soundcloud.png" style="width:30px; margin-left:25px;" class="icon" (click)="goToSoundcloud()">
    <img src="../assets/Images/facebook2.png" style="width:30px; margin-left:25px;" class="icon" (click)="goToFacebook()">
  </div>
  <div class="col-md-12 text-center">
    <div class="subscribe shadow-circle" id="subscribe">

      <span>Subscribe to Mailing List</span>
      <br>
      <form #form="ngForm" (submit)="subscribe(form)">
        <input name="email" #email="ngModel" [(ngModel)]="getDatService.formData.email" type="email"
          class="form-control no-border" placeholder="Your E-mail" id="mail" required>
        <hr class="line">
        <button type="submit" class="subscribe-btn shadow-circle-2">
          Subscribe
        </button>
      </form>
    </div>
  </div>
</div>

<!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfh4T3FP6B_rnbLMlWyDJxmY9gNmvgf3-g78LfLh4S7zncqBg/viewform" width="500px; height:100px;">

</iframe> -->