.menu-home {
  background-color: transparent;
  margin-top: 6%;
  margin-bottom: 6%;
  font-weight: bold;
}

.menu {
  font-weight: bold;
  background-color: var(--my-grey);
  position:fixed
}

.menu,
.menu-home {
  display: flex;
  transition: ease-in all 0.5s;
  z-index:10000000;
  width:100%;
}

.menu-item {
  //color: white;
}

.menu-item-home, a, a:visited {
  color: var(--my-black);
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bold;
}

.menu-item,
.menu-item-home, a, a:visited {
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
  transition: ease-in all 0.5s;
  font-weight: bold;

}

.menu-item-home:hover,
.menu-item:hover {
  text-decoration: underline;
}

@media (min-width: 480px) and (max-width: 4800px) {
  #my-menu-mobile {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #my-menu-mobile {
    background-color: var(--my-grey);
    background-color: var(--my-black);
    position: fixed;
    bottom: 0;
    left: 15px;
    right: 15px;
    z-index: 100000;
  }
  #my-menu {
    display: none;
  }
  #menu-mobile-items {
    display: none;
  }
}
