@import "toastr.scss";

:root {
  --my-black: #232323;
  --my-black-opacity: rgba(0, 0, 0, 0.8);
  --my-grey: #ebebeb;
  --my-blue: #4f91b7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background: url("/assets/Images/bg2.png") no-repeat center center fixed;
  background-size: cover;
}

.no-visibility-2 {
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
}

.yes-visibility-2 {
  visibility: visible;
  opacity: 1;
  transition: all ease 0.5s;
}

.blur-bg {
  position: fixed;
  height: 110%;
  top: -80px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  margin-top: 56px;
  margin-bottom: 1120px;
  z-index: -1;
  transition: all ease 0.5s;
}

.shadow-circle {
  box-shadow: 0px 0px 26px 7px white;
}

.shadow-circle-2 {
  box-shadow: 0px 0px 26px -5px white;
}
.circle,
.circle-navbar {
  display: inline-block;
  border-radius: 50%;
  background: var(--my-black-opacity);
  color: white;
  text-align: center;
}

.circle {
  padding: 50px;
  font-size: 1.5em;
}

.circle-nabar {
  padding: 300px;
}

.circle:before,
.circle-navbar:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

.circle span,
.circle-navbar span {
  display: inline-block;
  vertical-align: middle;
  color: white;
}

.line {
  padding: 0;
  margin: 0;
  border-top: 2px solid white;
  margin: -2px 4px 0px 4px;
}

.header {
  border-bottom: 1px solid rgb(122, 122, 122);
  width: 100%;
  font-weight: bold;
  color: var(--my-grey);
  padding-top: 4%;
  padding-bottom: 4%;
}

.content {
  font-size: 1em;
  color: var(--my-grey);
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: justify;
  line-height: 2rem;
}

.seperator {
  text-align: center;
}

.dashed-line{
  opacity:0.3;   border-bottom: 1px dashed rgb(122, 122, 122); padding-top:15px; margin-bottom:15px;
}
.bold {
  font-weight: bold;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-l-0{
  margin-left:0 !important;
}
.m-r-0{
  margin-right:0 !important;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
.back{
  cursor: pointer;
}
@media (min-width: 480px) and (max-width: 4800px) {

  .back {
    width: 30px;
  }
  
.my-text-justify{
  text-align: justify;
}
}
@media (min-width: 320px) and (max-width: 480px) {
  .m-t-nav-mobile {
    padding-top: 40%;
  }
  .back {
    width: 20px;
  }
  .header, .content{
    text-align: center;
  }
  .links{
    text-align: center !important; 
  }
}

.links{
  text-align: left ; color:var(--my-blue); text-decoration: underline; cursor:pointer;   font-weight: bold;
  word-wrap:break-word;

}

.links:hover{
  color:var(--my-grey)
}

.p-20{
  padding:20px;
}
// input.ng-touched.ng-invalid{
//   border-color: #BD362F;
//   background-color: #BD362F;
// }
